@media print {
    body {
        background-color : #ffffff !important;
        color: #000000 !important;
    }
    table {
        border: solid black !important;
    }
    td {
        border: solid black !important;
    }
}

